<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Math_Monkeys.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Math_Monkeys.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Math_Monkeys.Properties.Settings>
            <setting name="AdminFontNormal" serializeAs="String">
                <value>Franklin Gothic Medium, 11.25pt</value>
            </setting>
            <setting name="DefaltAdminName" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="LoginFontLarge" serializeAs="String">
                <value>Jokerman, 39.75pt, style=Italic</value>
            </setting>
            <setting name="LoginFontSmall" serializeAs="String">
                <value>Rockwell, 12pt</value>
            </setting>
            <setting name="MaxPasswordLength" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="DefaultNumberOfProblems" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DefaultGoal" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="DefaultNegNumbers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultNegAnswers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultWholeNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultNumberAttempts" serializeAs="String">
                <value>1</value>
            </setting>
        </Math_Monkeys.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Math_Monkeys.Properties.Settings>
            <setting name="StudentFontNormal" serializeAs="String">
                <value>Franklin Gothic Medium, 24pt</value>
            </setting>
            <setting name="dateFormat" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="usersFilename" serializeAs="String">
                <value>users.xml</value>
            </setting>
            <setting name="assignmentAttempsFilename" serializeAs="String">
                <value>assignmentAttempt.xml</value>
            </setting>
            <setting name="assignmentFilename" serializeAs="String">
                <value>assignment.xml</value>
            </setting>
            <setting name="problemSetsFilename" serializeAs="String">
                <value>problemSets.xml</value>
            </setting>
            <setting name="mmFolder" serializeAs="String">
                <value>MathMonkeys\</value>
            </setting>
            <setting name="NameLengthMin" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NameLengthMax" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PasswordREGEX" serializeAs="String">
                <value />
            </setting>
            <setting name="ScreenNameMax" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ScreenNameMin" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LoginFontNormal" serializeAs="String">
                <value>Rockwell, 15.75pt</value>
            </setting>
            <setting name="NumberLengthMax" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NumberProblemsMin" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NumberProblemsMax" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="GoalMin" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="GoalMax" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DatePickerFormat" serializeAs="String">
                <value>dd MMM yyyy</value>
            </setting>
            <setting name="StudentFontSmall" serializeAs="String">
                <value>Franklin Gothic Medium, 14.25pt</value>
            </setting>
            <setting name="AttemptsMax" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="StudentFontLarge" serializeAs="String">
                <value>Franklin Gothic Medium, 30pt</value>
            </setting>
            <setting name="AdminFontLarge" serializeAs="String">
                <value>Franklin Gothic Medium, 18pt</value>
            </setting>
            <setting name="ShowProblemTimer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProblemOperandFormatString" serializeAs="String">
                <value># # # # 0</value>
            </setting>
        </Math_Monkeys.Properties.Settings>
    </applicationSettings>
</configuration>